<html>
<head>
</head>
<body>
    {{> menu}}
    <h1>Hello Mustache!</h1>
    Name is {{name}} and lives at {{address.street}}, {{address.city}}, {{address.state}}. Age is {{age}}.
</body>
</html>