<html>
    <head>
        <title>Confirmation</title>

    </head>
    
    <body>
       
        <h1>{{userName}} - {{password}}</h1>
        <label for="confirm">Confirm if your username and password are correct and login.</label>
        <a href="/login"><button id="confirmBtn">Confirm</button></a>
    </body>
</html>