<html>
    <head>Globe Trippin'</head>
    <body>
        {{> menu}}
        <h1>Globe Trippin</h1>
        <h3>All the special places.</h3>
        <img src="/images/map.jpeg" alt="">
    </body>
</html>