<html>
    <head>Login</head>
    <body>
        
        <form method = "POST" action="/login">
            <input type="text" placeholder="Enter username" name = "userName">
            <input type="password" placeholder="Enter password" name="password">
            <button>Submit</button>
        </form>
        <h4>Don't have an account?</h4>
        <a href="/register"><button>Sign up for GlobeTrippin'</button></a>
        {{message}}

    </body>
</html>