<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>{{title}}</h1>
        <h2>{{genre}}</h2>
        <img src="{{posterUrl}}" alt="">
        <p>{{description}}</p>
    </body>
</html>