.container {
  margin-top: 50px;
}

#homeDiv {
  margin-top: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

#homeTitle {
  font-size: 5em;
  color: #240768;
}

#homeSubTitle {
  font-size: 3em;
  color: #240768;
}

#title {
  font-size: 3em;
}

h1 {
  margin: 50px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #240768;
}

#inputDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#inputDiv input {
  margin-right: 10px;
  width: 200px;
  border-radius: 7px;
  height: 40px;
  font-size: 1.2em;
}

h3 {
  color: #240768;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

button {
  width: 70px;
  height: 40px;
  border-radius: 7px;
}

button:hover {
  background: #e29c9c;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

li {
  list-style-type: none;
}

#tripImage {
  height: 400px;
  border-radius: 12px;
  margin: 20px 20px 20px 50px;
}

#picDiv {
  position: relative;
}

#picDiv img {
  border-radius: 12px;
}

#picDiv #map {
  margin-top: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  width: 80%;
}

.smallPics {
  height: 150px;
}

#ghana {
  position: absolute;
  top: 100px;
  left: -100px;
}

#peru {
  position: absolute;
  bottom: 150px;
  right: 100px;
}

#germany {
  position: absolute;
  bottom: -70px;
  left: 180px;
}

.tripContainer {
  border: #240768 solid 3px;
  border-radius: 12px;
  margin: 10px 0;
  background-color: #e6ebf8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tripInfo {
  margin-left: 20px;
  color: #240768;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tripInfo h3 {
  font-size: 2em;
  margin-bottom: 10px;
}

.tripInfo h4 {
  font-size: 1.2em;
}

#delete {
  background-color: transparent;
  border-radius: 7px;
  border: #240768 solid 1px;
}

#delete:hover {
  background: coral;
}
/*# sourceMappingURL=trips.css.map */